<!DOCTYPE html>
<html>
<head>
</head>

<body>

<div class="jumbotron text-center">
    <div class="container">
        <a href="/" class="lang-logo">
            <img src="/lang-logo.png">
        </a>
        <h1>Alky Getting Started with Node on Heroku</h1>
        <p>This is a sample Node application deployed to Heroku for a code test</div>
</div>
<div class="container">
    <hr>
    <div class="row">
        <div class="col-md-12">
            <h3><span class="glyphicon glyphicon-info-sign"></span> How this sample app works</h3>
            <ul>
                <li>This app was deployed to Heroku, <a href="https://github.com/AlkyAA/codetest">using Git</a></li>
                <li><a href="/showSampleData">Show Sample Data</a></li>
                <li><a href="/filterSampleData">Show Sample Filtered Data</a></li>
                <li><a href="/showPostData">Show Post Data</a></li>
            </ul>
        </div>
    </div> <!-- row -->

</div>


</body>
</html>
